body{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious.png");


}
.img-1{
	background:url("https://www.toptal.com/designers/subtlepatterns/patterns/repeated-square-dark.png");
	transform: rotate(5deg);
}
.img-2{
	transform: rotate(-5deg);
}
h1{

	color: white;
	font-family: 'Indie Flower', cursive;
	margin-bottom: 25px;

}
img {
	margin-top: 10px;
	max-height: 85vh;
	max-width: 50vh;
	object-fit: cover;
	-webkit-box-shadow: 17px -16px 31px -8px rgba(255,255,255,0.75);
	-moz-box-shadow: 17px -16px 31px -8px rgba(255,255,255,0.75);
	box-shadow: 17px -16px 31px -8px rgba(255,255,255,0.75);

}

p{
	margin-top: 20px;
	color: white;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
}
