body{
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
h1{

	color: white;

}
img {
	margin-top: 10px;
	max-height: 85vh;
	max-width: 50vh;
	object-fit: cover;
	-webkit-box-shadow: 17px -16px 31px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 17px -16px 31px -8px rgba(0,0,0,0.75);
	box-shadow: 17px -16px 31px -8px rgba(0,0,0,0.75);

}
p{
	color: white;
}